[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=new_krb_inst

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-Keywords=authentication,kerberos,krb,krb5

Icon=yast-kerberos
Exec=xdg-su -c "/sbin/yast2 new_krb_inst"

Name=Create New Kerberos Server
GenericName=Create New Kerberos Server
StartupNotify=true